body{
    width: 100%;
    height: auto;
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "Robato",sans-serif;
    font-size: 17px;
}
/*form Part*/
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#ffffff4d;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.12), 0 12px 40px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:#fff;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

.submit{
    background: -webkit-linear-gradient(0deg,  #2dfbff 0%, #3c96ff 100%);
    border-radius: 25px;
    color: #fff;
}
#wrong{
    color: red;
}
/*Text*/
header h1, .main-part h2,footer h2{
    text-align: center;
}
/*Color*/
.red{
    background-color: red;
    border: none;
}
.orange{
    background-color: orange;
    border: none;
}
.green{
    background-color: green;
    border: none;
}
.blue{
    background-color: blue;
    border: none;
}

/*Header part*/

button:hover{
    background: white;
}
header h1, .main-part h2, footer h2{
    color: white;
}
header h1{
    display: inline-block;
}
header a{
    font-size: 30px;
    float: left;
}
header{
    margin-top: 50px;
    border-bottom: 5px solid orange;
    text-align: center;
}
.main-part button:hover{
    background-color: white;
}
.main-part{
    margin-top: 100px;
    text-align: center;
}
.main-part button{
    width: 80%;
    margin: 30px;
    padding: 20px;
    font-weight: 700;
    color: white;


}
/*Footer*/
footer h2{
margin-top: 40px;
}


.question-part ul li{
    list-style-type: none;
}
.question-part ul li a{
    text-decoration: none;
    padding: 0;
}
.question-part ul{
    padding: 0;

}
.question-part {
    margin-top: 50px;
}
.question-part ul li:hover{
    cursor: pointer;
}
.btn{
    width: 100%;
    margin: 20px 0;
}

.questionDiv {
    color: white;
}

.resultDiv{
    text-align: left;
    color: white;
}
#retake-btn{
    display: none;
}
.hidden{
    display: none;
}
header h4{
    text-align: right;
    font-size: 30px;
    color: white;
}